$font: 'Poppins', sans-serif;
$heading-font: 'Fira Sans', sans-serif;
// Color Variables
$color: #455359;
$theme-color: #365A5C;
$brand-blue: #455359;
$brand-black: #000;
$brand-white: #fff;
$brand-light: #999999;
$border-color: #dddddd;
$background-bg: #FFF; 